# Copyright 2019 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

{{- if index .Values "open-match-override" }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "openmatch.configmap.override" . }}
  namespace: {{ .Release.Namespace }}
  annotations: {{- include "openmatch.chartmeta" . | nindent 4 }}
  labels:
    app: {{ template "openmatch.name" . }}
    component: config
    release: {{ .Release.Name }}
data:
  matchmaker_config_override.yaml: |-
    # Length of time between first fetch matches call, and when no further fetch
    # matches calls will join the current evaluation/synchronization cycle, 
    # instead waiting for the next cycle.
    registrationInterval:  {{ index .Values "open-match-core" "registrationInterval" }}
    # Length of time after match function as started before it will be canceled,
    # and evaluator call input is EOF.
    proposalCollectionInterval: {{ index .Values "open-match-core" "proposalCollectionInterval" }}
    # Time after a ticket has been returned from fetch matches (marked as pending)
    # before it automatically becomes active again and will be returned by query
    # calls.
    pendingReleaseTimeout: {{ index .Values "open-match-core" "pendingReleaseTimeout" }}
    # Time after a ticket has been assigned before it is automatically delted.
    assignedDeleteTimeout: {{ index .Values "open-match-core" "assignedDeleteTimeout" }}
    # Maximum number of tickets to return on a single QueryTicketsResponse.
    queryPageSize: {{ index .Values "open-match-core" "queryPageSize" }}
    api:
      evaluator:
        hostname: "{{ include "openmatch.evaluator.hostName" . }}"
        grpcport: "{{ .Values.evaluator.grpcPort }}"
        httpport: "{{ .Values.evaluator.httpPort }}"
{{- end }}
