# Copyright 2019 Google Inc. All Rights Reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

openmatch:
  metrics:
    prometheusEnabled: true
    prometheusServiceDiscovery: true
    stackdriverEnabled: false
    stackdriverProjectID: ""
    port: 9555
    path: "/metrics"
  backendapi:
    install: true
    grpc:
      port: 50505
  frontendapi:
    install: true
    grpc:
      port: 50504
  mmforc:
    install: true
    serviceAccount: mmforc-job-runner
  mmlogicapi:
    install: true
    grpc:
      port: 50503

  config:
    install: true

    prototypes:
      component_config.yaml: &component_config
        debug: true
        logging:
          level: debug
          format: json
          source: false
        redis:
          pool:
            maxIdle: 3
            maxActive: 0
            idleTimeout: 60
          queryArgs:
            count: 10000
          results:
            pageSize: 10000

    files:
      backendapi_config.yaml:
        <<: *component_config
        api: 
          backend:
            backoff: "[2 32] *2 ~0.33 <30"

      frontendapi_config.yaml:
        <<: *component_config
        api:
          frontend: 
            backoff: "[2 32] *2 ~0.33 <300"

      mmforc_config.yaml:
        <<: *component_config
        evalutor: 
          interval: 10

        defaultImages: 
          evaluator: 
            name: "{{.Values.openmatch.image.registry}}/{{.Values.openmatch.image.defaultEvaluator.name}}"
            tag: "{{.Values.openmatch.image.tag}}"
          mmf: 
            name: "{{.Values.openmatch.image.registry}}/{{.Values.openmatch.image.defaultMMF.name}}"
            tag: "{{.Values.openmatch.image.tag}}"
      
      mmlogicapi_config.yaml:
        <<: *component_config

      openmatch_config.yaml:
        metrics: 
          reportingPeriod: 5

        ignoreLists: 
          proposed: 
            offset: 0
            duration: 800 
          deindexed: 
            offset: 0
            duration: 800 
          expired: 
            offset: 800 
            duration: 0 

        redis:
          expirations:
            player: 43200
            matchobject: 43200

        jsonkeys:
          mmfImage: imagename
          mmfService: hostname
          rosters: properties.rosters
          pools: properties.pools

        playerIndices:
        - char.cleric
        - char.knight
        - char.paladin
        - map.aleroth
        - map.oasis
        - mmr.rating
        - mode.battleroyale
        - mode.ctf
        - mode.demo
        - region.europe-east1
        - region.europe-west1
        - region.europe-west2
        - region.europe-west3
        - region.europe-west4
        - role.dps
        - role.support
        - role.tank

  image:
    registry: gcr.io/open-match-public-images
    tag: "0.4.0"
    backendapi:
      name: openmatch-backendapi
      pullPolicy: Always
    frontendapi:
      name: openmatch-frontendapi
      pullPolicy: Always
    mmforc:
      name: openmatch-mmforc
      pullPolicy: Always
    mmlogicapi:
      name: openmatch-mmlogicapi
      pullPolicy: Always
    defaultEvaluator:
      name: openmatch-evaluator-simple
    defaultMMF:
      name: openmatch-mmf-py3-mmlogic-simple


# https://hub.helm.sh/charts/stable/redis
# https://github.com/helm/charts/tree/master/stable/redis
redis:
  fullnameOverride: om-redis
  # TODO: Temporarily disable password protected Redis until all the examples are no longer talking directly to the database.
  usePassword: false
  master:
    disableCommands: [] # don't disable 'FLUSH-' commands
  metrics:
    enabled: true

# https://github.com/helm/charts/tree/master/stable/prometheus
prometheus:
  alertmanager:
    enabled: true
  nodeExporter:
    enabled: true
  kubeStateMetrics:
    enabled: true
  pushgateway:
    enabled: true
  server:
    resources:
      requests:
        memory: 4Gi
        cpu: 2
  serverFiles:
  prometheus.yml:
      rule_files:
        - /etc/config/rules
        - /etc/config/alerts

      scrape_configs:
        - job_name: prometheus
          static_configs:
            - targets:
              - localhost:9090

        # A scrape configuration for running Prometheus on a Kubernetes cluster.
        # This uses separate scrape configs for cluster components (i.e. API server, node)
        # and services to allow each to use different authentication configs.
        #
        # Kubernetes labels will be added as Prometheus labels on metrics via the
        # `labelmap` relabeling action.

        # Scrape config for API servers.
        #
        # Kubernetes exposes API servers as endpoints to the default/kubernetes
        # service so this uses `endpoints` role and uses relabelling to only keep
        # the endpoints associated with the default/kubernetes service using the
        # default named port `https`. This works for single API server deployments as
        # well as HA API server deployments.
        - job_name: 'kubernetes-apiservers'

          kubernetes_sd_configs:
            - role: endpoints

          # Default to scraping over https. If required, just disable this or change to
          # `http`.
          scheme: https

          # This TLS & bearer token file config is used to connect to the actual scrape
          # endpoints for cluster components. This is separate to discovery auth
          # configuration because discovery & scraping are two separate concerns in
          # Prometheus. The discovery auth config is automatic if Prometheus runs inside
          # the cluster. Otherwise, more config options have to be provided within the
          # <kubernetes_sd_config>.
          tls_config:
            ca_file: /var/run/secrets/kubernetes.io/serviceaccount/ca.crt
            # If your node certificates are self-signed or use a different CA to the
            # master CA, then disable certificate verification below. Note that
            # certificate verification is an integral part of a secure infrastructure
            # so this should only be disabled in a controlled environment. You can
            # disable certificate verification by uncommenting the line below.
            #
            insecure_skip_verify: true
          bearer_token_file: /var/run/secrets/kubernetes.io/serviceaccount/token

          # Keep only the default/kubernetes service endpoints for the https port. This
          # will add targets for each API server which Kubernetes adds an endpoint to
          # the default/kubernetes service.
          relabel_configs:
            - source_labels: [__meta_kubernetes_namespace, __meta_kubernetes_service_name, __meta_kubernetes_endpoint_port_name]
              action: keep
              regex: default;kubernetes;https

        # Example scrape config for pods
        #
        # The relabeling allows the actual pod scrape endpoint to be configured via the
        # following annotations:
        #
        # * `prometheus.io/scrape`: Only scrape pods that have a value of `true`
        # * `prometheus.io/path`: If the metrics path is not `/metrics` override this.
        # * `prometheus.io/port`: Scrape the pod on the indicated port instead of the default of `9102`.
        - job_name: 'kubernetes-pods'

          kubernetes_sd_configs:
            - role: pod

          relabel_configs:
            - source_labels: [__meta_kubernetes_pod_annotation_prometheus_io_scrape]
              action: keep
              regex: true
            - source_labels: [__meta_kubernetes_pod_annotation_prometheus_io_path]
              action: replace
              target_label: __metrics_path__
              regex: (.+)
            - source_labels: [__address__, __meta_kubernetes_pod_annotation_prometheus_io_port]
              action: replace
              regex: ([^:]+)(?::\d+)?;(\d+)
              replacement: $1:$2
              target_label: __address__
            - action: labelmap
              regex: __meta_kubernetes_pod_label_(.+)
            - source_labels: [__meta_kubernetes_namespace]
              action: replace
              target_label: kubernetes_namespace
            - source_labels: [__meta_kubernetes_pod_name]
              action: replace
              target_label: kubernetes_pod_name

grafana:
  persistence:
    enabled: true
  server:
    persistentVolume:
      size: 10Gi
  adminPassword: openmatch
  service:
    port: 3000
  sidecar:
      dashboards:
          enabled: true
  plugins: grafana-piechart-panel
  datasources:
    datasources.yaml:
      apiVersion: 1
      datasources:
      - name: Prometheus
        type: prometheus
        url: http://open-match-prometheus-server.{{ .Release.Namespace }}.svc.cluster.local:80/
        access: proxy
        isDefault: true
