+++
title = "Open Match"
linkTitle = "Open Match"

+++

{{< blocks/cover title="" image_anchor="top" height="min" color="white" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/googleforgames/open-match/releases">
		Releases <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-4">Connect players from around the world to the games they love.</p>
	<div class="mx-auto mt-5">
		{{< blocks/link-down color="light-secondary" >}}
	</div>
</div>
{{< /blocks/cover >}}

{{% blocks/lead color="secondary" %}}
<strong>What is Open Match?</strong>
<br />
<br />
Open Match is a <strong>flexible</strong> match making system built to <strong>scale</strong> with your game.
{{% /blocks/lead %}}

{{< blocks/section color="blue" >}}
{{% blocks/feature icon="fa-code" title="Flexible" %}}
Write code, not config, to determine how matches should be made.
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-tachometer-alt" title="Scale" %}}
Built to scale up and down quickly. For games big and small.
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-chart-area" title="Measurable" %}}
Measure quality and latency of matches. Easily run experiments to find the right balance.
{{% /blocks/feature %}}


{{< /blocks/section >}}


{{< blocks/section color="primary"  >}}

{{% blocks/feature icon="fab fa-slack" title="Join us on Slack" url="https://join.slack.com/t/open-match/shared_invite/enQtNDM1NjcxNTY4MTgzLWQzMzE1MGY5YmYyYWY3ZjE2MjNjZTdmYmQ1ZTQzMmNiNGViYmQyN2M4ZmVkMDY2YzZlOTUwMTYwMzI1Y2I2MjU" %}}
Join the community on Slack
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/googleforgames/open-match" %}}
We do a [Pull Request](https://github.com/googleforgames/open-match/pulls) contributions workflow on **GitHub**. New users are always welcome!
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-twitter" title="Follow us on Twitter!" url="https://twitter.com/Open_Match" %}}
For announcement of latest features etc.
{{% /blocks/feature %}}


{{< /blocks/section >}}
